{% extends 'base.html.twig' %}

{% block title %}Strona główna - {% endblock %}

{% block body %}
    <header>
        <h1>Nuvola – Chmura Bartłomiej</h1>
    </header>
    <section>
        <p>
            Pawłosiów 398<br/>
            37-500 Jarosław
        </p>
    </section>
    <section>
        <table>
            <tr>
                <td><strong>NIP</strong></td>
                <td>7922150059</td>
            </tr>
            <tr>
                <td><strong>REGON</strong></td>
                <td>181120459</td>
            </tr>
            <tr>
                <td><strong>Deutsche Bank</strong></td>
                <td>60 1910 1048 2204 8638 1973 0001</td>
            </tr>
            <tr>
                <td><strong>E-mail</strong></td>
                <td><a href="mailto:bartek@nuvola.pl">bartek@nuvola.pl</a></td>
            </tr>
        </table>
    </section>
    <br />
    <footer>
        <p>
            By <a href="https://www.nuvola.pl" title="Nuvola - Chmura Bartłomiej">www.nuvola.pl</a>.
        </p>
    </footer>
{% endblock %}
